<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="../static/css/styles.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">Dashboard Fifa Ranking</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                    <input type="button" onclick="location.href='/Egypt';" value="Egypt" />
                <ul class="nav navbar-nav ml-auto">

                    <li class="nav-item" role="presentation"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/about_us">About Us</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/contact_us">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="text-center page homp_page">
        <section class="clean-block clean-services dark">
            <h1>Fifa</h1><img src="../static/img/c71d9794d52c985eec434f2072fa136940.jpg">
            <p><br>The&nbsp;<strong>Fédération Internationale de Football Association</strong><a href="https://en.wikipedia.org/wiki/FIFA#cite_note-3">[a]</a>&nbsp;(<strong>FIFA</strong>&nbsp;<a href="https://en.wikipedia.org/wiki/Help:IPA/English">/ˈfiːfə/</a>&nbsp;
                <a
                    href="https://en.wikipedia.org/wiki/Help:Pronunciation_respelling_key"><em>FEE-fə</em></a>;&nbsp;<a href="https://en.wikipedia.org/wiki/French_language">French</a>&nbsp;for&nbsp;<strong>International Federation of Association Football</strong>;&nbsp;<a href="https://en.wikipedia.org/wiki/Spanish_language">Spanish</a>:&nbsp;<em>Federación Internacional de Fútbol Asociación</em>;&nbsp;
                    <a
                        href="https://en.wikipedia.org/wiki/German_language">German</a>:&nbsp;<em>Internationaler Verband des Association Football</em>) is a&nbsp;<a href="https://en.wikipedia.org/wiki/Nonprofit_organization">non-profit organization</a>&nbsp;which describes itself as an international&nbsp;
                        <a
                            href="https://en.wikipedia.org/wiki/Sport_governing_body">governing body</a>&nbsp;of&nbsp;<a href="https://en.wikipedia.org/wiki/Association_football">association football</a>,&nbsp;<a href="https://en.wikipedia.org/wiki/Footsal">fútsal</a>,&nbsp;<a href="https://en.wikipedia.org/wiki/Beach_soccer">beach soccer</a>,
                            and efootball. It is the highest governing body of football.FIFA was founded in 1904<a href="https://en.wikipedia.org/wiki/FIFA#cite_note-4">[3]</a>&nbsp;to oversee international competition among the national associations
                            of&nbsp;<a href="https://en.wikipedia.org/wiki/Royal_Belgian_Football_Association">Belgium</a>,&nbsp;<a href="https://en.wikipedia.org/wiki/Danish_Football_Association">Denmark</a>,&nbsp;<a href="https://en.wikipedia.org/wiki/Union_des_Soci%C3%A9t%C3%A9s_Fran%C3%A7aises_de_Sports_Athl%C3%A9tiques">France</a>,&nbsp;
                            <a
                                href="https://en.wikipedia.org/wiki/German_Football_Association">Germany</a>, the&nbsp;<a href="https://en.wikipedia.org/wiki/Royal_Dutch_Football_Association">Netherlands</a>,&nbsp;<a href="https://en.wikipedia.org/wiki/Royal_Spanish_Football_Federation">Spain</a>,&nbsp;<a href="https://en.wikipedia.org/wiki/Swedish_Football_Association">Sweden</a>,
                                and&nbsp;<a href="https://en.wikipedia.org/wiki/Swiss_Football_Association">Switzerland</a>. Headquartered in&nbsp;<a href="https://en.wikipedia.org/wiki/Z%C3%BCrich">Zürich</a>, its membership now comprises&nbsp;<a href="https://en.wikipedia.org/wiki/List_of_FIFA_Member_Associations">211 national associations</a>.
                                Member countries must each also be members of one of the six regional confederations into which the world is divided:&nbsp;<a href="https://en.wikipedia.org/wiki/Confederation_of_African_Football">Africa</a>,&nbsp;<a href="https://en.wikipedia.org/wiki/Asian_Football_Confederation">Asia</a>,&nbsp;
                                <a
                                    href="https://en.wikipedia.org/wiki/UEFA">Europe</a>,&nbsp;<a href="https://en.wikipedia.org/wiki/CONCACAF">North &amp; Central America and the Caribbean</a>,&nbsp;<a href="https://en.wikipedia.org/wiki/Oceania_Football_Confederation">Oceania</a>, and&nbsp;<a href="https://en.wikipedia.org/wiki/CONMEBOL">South America</a>.Today,
                                    FIFA outlines a number of objectives in the organizational Statues, including growing football internationally, providing efforts to ensure football is accessible to everyone, and advocating for integrity and fair play.
                                    <a
                                        href="https://en.wikipedia.org/wiki/FIFA#cite_note-5">[4]</a>&nbsp;FIFA is responsible for the organization and promotion of football's major international&nbsp;<a href="https://en.wikipedia.org/wiki/Tournaments">tournaments</a>, notably the&nbsp;<a href="https://en.wikipedia.org/wiki/FIFA_World_Cup">World Cup</a>&nbsp;which
                                        commenced in 1930 and the&nbsp;<a href="https://en.wikipedia.org/wiki/FIFA_Women%27s_World_Cup">Women's World Cup</a>&nbsp;which commenced in 1991. Although FIFA does not solely set the&nbsp;<a href="https://en.wikipedia.org/wiki/Laws_of_the_Game_(association_football)">rules of football</a>,
                                        that being the responsibility of the&nbsp;<a href="https://en.wikipedia.org/wiki/International_Football_Association_Board">International Football Association Board</a>&nbsp;of which FIFA is a member, it applies
                                        and enforces the rules across all FIFA competitions.<a href="https://en.wikipedia.org/wiki/FIFA#cite_note-6">[5]</a>&nbsp;All FIFA tournaments generate revenue from sponsorship; in 2018, FIFA had revenues of over&nbsp;
                                        <a
                                            href="https://en.wikipedia.org/wiki/United_States_dollar">US $</a>4.6 billion, ending the 2015–2018 cycle with a net positive of US$1.2 billion, and had cash reserves of over US$2.7 billion.<a href="https://en.wikipedia.org/wiki/FIFA#cite_note-7">[6]</a>Reports by investigative
                                            journalists have linked FIFA leadership with corruption, bribery, and vote-rigging related to the election of&nbsp;<a href="https://en.wikipedia.org/wiki/List_of_FIFA_presidents">FIFA president</a>&nbsp;<a href="https://en.wikipedia.org/wiki/Sepp_Blatter">Sepp Blatter</a>&nbsp;and
                                            the organization's decision to&nbsp;<a href="https://en.wikipedia.org/wiki/2018_and_2022_FIFA_World_Cup_bids">award the 2018 and 2022 World Cups</a>&nbsp;to Russia and&nbsp;<a href="https://en.wikipedia.org/wiki/Qatar">Qatar</a>,
                                            respectively. These allegations led to the&nbsp;<a href="https://en.wikipedia.org/wiki/2015_FIFA_corruption_case">indictments of nine high-ranking FIFA officials and five corporate executives</a>&nbsp;by the&nbsp;
                                            <a
                                                href="https://en.wikipedia.org/wiki/U.S._Department_of_Justice">U.S. Department of Justice</a>&nbsp;on charges including&nbsp;<a href="https://en.wikipedia.org/wiki/Racketeering">racketeering</a>,&nbsp;<a href="https://en.wikipedia.org/wiki/Wire_fraud">wire fraud</a>, and&nbsp;
                                                <a
                                                    href="https://en.wikipedia.org/wiki/Money_laundering">money laundering</a>. On 27 May 2015, several of these officials were arrested by Swiss authorities, who were launching a simultaneous but separate criminal investigation into how the organization awarded
                                                    the 2018 and 2022 World Cups. Those among these officials who were also indicted in the U.S. are expected to be extradited to face charges there as well.<a href="https://en.wikipedia.org/wiki/FIFA#cite_note-8">[7]</a>
                                                    <a
                                                        href="https://en.wikipedia.org/wiki/FIFA#cite_note-DOJ_presser-9">[8]</a><a href="https://en.wikipedia.org/wiki/FIFA#cite_note-10">[9]</a>&nbsp;Many officials were suspended by FIFA's&nbsp;<a href="https://en.wikipedia.org/wiki/FIFA_Ethics_Committee">ethics committee</a>&nbsp;including&nbsp;
                                                        <a
                                                            href="https://en.wikipedia.org/wiki/Sepp_Blatter">Sepp Blatter</a><a href="https://en.wikipedia.org/wiki/FIFA#cite_note-11">[10]</a>&nbsp;and&nbsp;<a href="https://en.wikipedia.org/wiki/Michel_Platini">Michel Platini</a>.<a href="https://en.wikipedia.org/wiki/FIFA#cite_note-12">[11]</a>&nbsp;In
                                                            early 2017 reports became public about FIFA president&nbsp;<a href="https://en.wikipedia.org/wiki/Gianni_Infantino">Gianni Infantino</a>&nbsp;attempting to prevent the re-elections<a href="https://en.wikipedia.org/wiki/FIFA#cite_note-13">[12]</a>&nbsp;of
                                                            both chairmen of the ethics committee,&nbsp;<a href="https://en.wikipedia.org/wiki/Cornel_Borb%C3%A9ly">Cornel Borbély</a>&nbsp;and&nbsp;<a href="https://en.wikipedia.org/wiki/Hans-Joachim_Eckert">Hans-Joachim Eckert</a>,
                                                            during the FIFA congress in May 2017.<a href="https://en.wikipedia.org/wiki/FIFA#cite_note-14">[13]</a><a href="https://en.wikipedia.org/wiki/FIFA#cite_note-15">[14]</a>&nbsp;On 9 May 2017, following
                                                            Infantino's proposal,<a href="https://en.wikipedia.org/wiki/FIFA#cite_note-Reuters-16">[15]</a>&nbsp;<a href="https://en.wikipedia.org/wiki/FIFA_Council">FIFA Council</a>&nbsp;decided not to
                                                            renew the mandates of Borbély and Eckert.<a href="https://en.wikipedia.org/wiki/FIFA#cite_note-Reuters-16">[15]</a>&nbsp;Together with the chairmen, 11 of 13 committee members were removed.
                                                            <a
                                                                href="https://en.wikipedia.org/wiki/FIFA#cite_note-17">[16]</a><br><br><br></p>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2018 Copyright Text</p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="../static/js/script.min.js"></script>
</body>

</html>